/* NavBar.css */
/* Common styles for all screen sizes*/
.navbar {
    background: rgb(0,135,145);
    background: radial-gradient(circle, rgba(0,135,145,1) 0%, rgba(30,140,96,1) 61%, rgba(89,179,76,1) 93%);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 39, 1, 0.2), 0 6px 20px 0 rgba(0, 39, 1, 0.2);
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #a4df7f;
  }

  /* Media queries for responsiveness */
@media (max-width: 767px) {
  /* Styles for mobile devices */
  .nav-item {
    margin-right: 10px;
  }
  
  .menu-icon {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }

  .menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }

  .nav-link {
    padding: 10px;
  }
} 